@charset "UTF-8";

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	background-image: url("../images/banner-img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-size:2em;
	text-align:center;
	line-height:.25em;
}

#wrapper {
	position:relative;

	padding: 40px;
	width:800px;
	/*height:405px;*/
	margin:0px auto;
	border: medium solid #333;
	background-color:#383838;
	overflow: hidden;
}

#buttonHolder {
	padding-top:10px;
	position:relative;
	text-align:center;
}

#theTarget {
	position:absolute;
	z-index:1;
	top: -10px;
	left:5px;
}

#genreTitle {
	position: absolute;
	top:16px;
	left: 90px;
	font-size: 1.25em;
	text-transform: capitalize;
	font-style: italic;
}

#playerBar {
	position:relative;
	padding-top:15px;
	left:15px;
}

.trackHolder {
	position: relative;
	background-color: #616161;
    width: 430px;
    left: 20px;
    border: thin solid #333;
    overflow: hidden;
    padding-top: 19px;
    z-index: 0;
    list-style-type: none;
}

.trackHolder li {
	padding: 20px 0 10px;
    width: 100%;
    border-bottom: thin solid #ccc;
}

.trackHolder li:last-of-type {
	border-bottom: none;
}

.tracks { position: relative; z-index: 50; }

#videoHolder {
	position: absolute;
	background-color: #333;
	width:100%;
	height:100%;
	top:-500px;
	left:0px;
	z-index:2;
	/*opacity: 0;*/
}
#myVideo {
	position:relative;
	top:50px;
}

#closeVideoButton {
	position:relative;
	top:370px;
	left:380px;
	cursor:pointer;
}



#controlBar {
	width: 713px;
	height: 55px;
	background: rgb(102, 102, 102);
	position: relative;
	top: -20px;
	padding: 10px 0;
}

progress {
	width:150px;
	float:right;
	position:relative;
	top:3px;
}

#trackTime {
	float:right;
	display:inline;
	padding:0px 12px;
	position:relative;
	top:-12px;
}

#volumeSlider {
	position:relative;
	width:100px;
	float:left;
	top:2px;
	margin-left: 15px;
}

#playButton {
	position:relative;
	top:0px;
	left:6px;
	float:left;
	display:inlineinline-block;
	width:20px;
	height:20px;
	background-image:url(../images/playerButtons.png);
	background-repeat:no-repeat;
	overflow:hidden;
	cursor:pointer;
}

video
{
	max-width: 100%;
}
.pauseMode { background-position: 0px -20px; }

#muteButton {
	position:relative;
	top:3px;
	left:12px;
	/*float:left;*/
	margin-right:5px;
	display:inline-block;
	width:20px;
	height:20px;
	background:url(../images/audIcon.png) no-repeat;
	overflow:hidden;
	cursor:pointer;
	transition:opacity 1s;
	-moz-transition:opacity 1s;
	-webkit-transition:opacity 1s;
}

#shuffle {
	position:relative;
	/*top:3px;*/
	left:6px;
	display:inline-block;
	width:20px;
	height:17px;
	background-image:url(../images/shuffleIcon.png);
	background-repeat:no-repeat;
	overflow:hidden;
	cursor:pointer;
}

.shuffleMode { background-position: 0px -18px; }

.muteMode { opacity:.2; }

#container {
    width: 580px;
    text-align: center;
    margin: 20px auto;
}

ul {
    margin: 15px auto;
    padding: 0;
    width: 545px;
}
ul li {
    list-style-type: none;
    font-size: 16px;
    color:#4F4F4F;
    background-color: #FFE9AF;
    margin-bottom: 5px;
    padding: 8px;
    text-align: left;
}

#content {
	background: #FFFFFF;
	margin:45px auto 0 auto;
	padding: 16px;
}

#main { background:#FFFFFF; }

h2 {
	font:20px Arial, Helvetica, sans-serif;
	color: #00A5C4;
	margin-bottom: .5em;
	clear: both;
}

button {
	cursor: pointer;
	font-size: 1em;
	margin: 0 8px;
	border-radius: 20px;
	border: none;
	padding: 8px 14px
}

#content {
	background: #FFFFFF;
	width: 400px;
}

#commentSection{
	background-color: black;
	text-align: center;
}


button {
	cursor: pointer;
	font-size: 1em;
	margin: 0 8px;
	border-radius: 20px;
	border: none;
	padding: 8px 14px
}
